<div class="centered">

<table>
	<tr>
		<td colspan=2><h1>iamascrapbook</h1></td>
	</tr>
	<tr>
		<td colspan=2><h2>Intelligent Amazon Book Scraper</h2></td>
	</tr>
	<tr>
		<td colspan=2 align=center>
			<%= form_tag(books_path, id: "search-form", method: "get") do%>
			<%= text_field_tag :search, params[:search], placeholder: "Search... (ISBN, Author, Language)", :class => 'text'%>
			<% end %>
		</td>
	</tr>
	<tr>
		<td><p><%= link_to 'See all our books!', books_path, :class=>"color"%></p></td>
		<td><p><%= link_to 'Admin Console', admin_path, :class=>"color"%></p></td>
	</tr>
</table>
</div>