# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 76515ad28e0423f008b4ad696157f6cbbc208293d8accc771d83344e58b9d41f87833f542a45f27cc1b129c41706f4de1d2c661c45a0d9205660a8a8896fbc55

test:
  secret_key_base: 0fbebcab025fd66c05bb08538067116e314d46d4ad3b7877f54c970ddbc4550e4ec0c03d07bec1ea4692ccd0ba820b2a8a393fd26df498da491d1429cd1a5a04

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 2b153df765a530dff373c9f781e6d26a6efa33dc16f465d85aa2ce84f4ee0ad8a501bfe0792fc438adbb6ed8834472fa0e39110c8dc7d449c40c25c76970b260
